In [24]:
import pandas as pd
import pickle
import numpy as np

In [25]:
new_per_posses = pickle.load(open('current_nba_per_poss_data.p','rb'))

In [26]:
ORtg_p1 = []
ORtg_p2 = []
ORtg_p3 = []
ORtg_p4 = []
ORtg_p5 = []
DRtg_p1 = []
DRtg_p2 = []
DRtg_p3 = []
DRtg_p4 = []
DRtg_p5 = []
win_per = []
for new_per_poss in new_per_posses:
    team_year= new_per_poss[:5].sort_values(by ='ORtg',ascending =False).reset_index()

    ORtg_p1.append(team_year.iloc[0,-6])
    ORtg_p2.append(team_year.iloc[1,-6])
    ORtg_p3.append(team_year.iloc[2,-6])
    ORtg_p4.append(team_year.iloc[3,-6])
    ORtg_p5.append(team_year.iloc[4,-6])

    team_year= new_per_poss[:5].sort_values(by ='DRtg',ascending =False).reset_index()

    DRtg_p1.append(team_year.iloc[0,-5])
    DRtg_p2.append(team_year.iloc[1,-5])
    DRtg_p3.append(team_year.iloc[2,-5])
    DRtg_p4.append(team_year.iloc[3,-5])
    DRtg_p5.append(team_year.iloc[4,-5])
    
    win_per.append(team_year.iloc[0,-1])

In [27]:
team_year_new_per_poss = pd.DataFrame(
    {
    'ORtg_p1':ORtg_p1,
    'ORtg_p2':ORtg_p2,
    'ORtg_p3':ORtg_p3,
    'ORtg_p4':ORtg_p4,
    'ORtg_p5':ORtg_p5,
    'DRtg_p1':DRtg_p1,
    'DRtg_p2':DRtg_p2,
    'DRtg_p3':DRtg_p3,
    'DRtg_p4':DRtg_p4,
    'DRtg_p5':DRtg_p5,
    'win_per':win_per
    }
)

In [28]:
old_per_posses = pickle.load(open('Old_nba_per_poss_data.p','rb'))

In [29]:
ORtg_p1 = []
ORtg_p2 = []
ORtg_p3 = []
ORtg_p4 = []
ORtg_p5 = []
DRtg_p1 = []
DRtg_p2 = []
DRtg_p3 = []
DRtg_p4 = []
DRtg_p5 = []
win_per = []
for old_per_poss in old_per_posses:
    team_year= old_per_poss[:5].sort_values(by ='ORtg',ascending =False).reset_index()

    ORtg_p1.append(team_year.iloc[0,-6])
    ORtg_p2.append(team_year.iloc[1,-6])
    ORtg_p3.append(team_year.iloc[2,-6])
    ORtg_p4.append(team_year.iloc[3,-6])
    ORtg_p5.append(team_year.iloc[4,-6])

    team_year= old_per_poss[:5].sort_values(by ='DRtg',ascending =False).reset_index()

    DRtg_p1.append(team_year.iloc[0,-5])
    DRtg_p2.append(team_year.iloc[1,-5])
    DRtg_p3.append(team_year.iloc[2,-5])
    DRtg_p4.append(team_year.iloc[3,-5])
    DRtg_p5.append(team_year.iloc[4,-5])
    
    win_per.append(team_year.iloc[0,-1])

In [30]:
team_year_old_per_poss = pd.DataFrame(
    {
    'ORtg_p1':ORtg_p1,
    'ORtg_p2':ORtg_p2,
    'ORtg_p3':ORtg_p3,
    'ORtg_p4':ORtg_p4,
    'ORtg_p5':ORtg_p5,
    'DRtg_p1':DRtg_p1,
    'DRtg_p2':DRtg_p2,
    'DRtg_p3':DRtg_p3,
    'DRtg_p4':DRtg_p4,
    'DRtg_p5':DRtg_p5,
    'win_per':win_per
    }
)

,ORtg_p1,ORtg_p2,ORtg_p3,ORtg_p4,ORtg_p5,DRtg_p1,DRtg_p2,DRtg_p3,DRtg_p4,DRtg_p5,win_per
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,117.860000,113.020000,109.686667,106.586667,102.206667,110.813333,109.653333,108.253333,106.846667,104.266667,0.500028
std,6.399486,5.227021,5.030293,4.321301,5.234497,3.255118,3.333754,3.552458,3.545934,3.887109,0.151441
min,102.000000,101.000000,96.000000,95.000000,88.000000,103.000000,102.000000,99.000000,97.000000,95.000000,0.121951
25%,113.000000,109.000000,105.000000,103.250000,99.000000,108.000000,107.000000,106.000000,104.250000,101.000000,0.391448
50%,118.000000,113.000000,110.000000,106.000000,102.000000,111.000000,110.000000,108.000000,107.000000,105.000000,0.509184
75%,122.000000,117.000000,113.000000,110.000000,106.000000,113.000000,112.000000,111.000000,109.000000,107.000000,0.606707
max,134.000000,126.000000,122.000000,116.000000,113.000000,121.000000,119.000000,119.000000,118.000000,113.000000,0.890244